* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

/* ________GENERAL__________ */

body {
  background-image: url(./images/mobile/image-hero.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  /* max-width: 900px; */
  margin: 0 auto;
}

header {
  padding: 4rem 2.5rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15rem;
}

.header__logo {
  width: 12rem;
}

.header__links {
  display: none;
}

.header__burger--style {
  width: 2.5rem;
  height: 0.2rem;
  background-color: white;
  border-radius: 10rem;
  margin-bottom: 0.5rem;
}

.header__title {
  color: white;
  border: 0.2rem solid white;
  font-size: 4rem;
  font-weight: 100;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  padding: 2rem;
  margin-bottom: 15rem;
  max-width: 35rem;
}

/* _____________MAIN_________________ */

main {
  text-align: center;
  padding-bottom: 12rem;
  max-width: 900px;
  padding: 8rem 2.5rem;
  margin: auto;
}

/* ______ARTICLE 1________ */

.article1 {
  margin-bottom: 5rem;
}

.article1__img {
  width: 100%;
  margin-bottom: 3rem;
}

.article1__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Josefin Sans";
  margin-bottom: 2rem;
}

.article1__txt {
  font-size: 1.6rem;
  color: hsl(0, 0%, 55%);
  line-height: 1.5;
}

/* ___________Article 2_________ */

.article2 {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: 2rem;
}

.article2__mainTitle {
  justify-self: center;
  align-self: center;
  font-weight: 100;
  font-family: "Josefin Sans";
  font-size: 3.5rem;
  text-transform: uppercase;
}

.article2__title {
  color: white;
  font-weight: 100;
  font-family: "Josefin Sans";
  max-width: 8ch;
  text-align: left;
  font-size: 2rem;
  letter-spacing: 0.6rem;
}

.article2__title--width {
  max-width: 15ch;
}

.article2__part {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 0 1rem 1.5rem;
  display: flex;
  align-items: flex-end;
}

.article2__part:nth-of-type(1) {
  background-image: url(./images/mobile/image-deep-earth.jpg);
}

.article2__part:nth-of-type(2) {
  background-image: url(./images/mobile/image-night-arcade.jpg);
}

.article2__part:nth-of-type(3) {
  background-image: url(./images/mobile/image-soccer-team.jpg);
}

.article2__part:nth-of-type(4) {
  background-image: url(./images/mobile/image-grid.jpg);
}

.article2__part:nth-of-type(5) {
  background-image: url(./images/mobile/image-from-above.jpg);
}

.article2__part:nth-of-type(6) {
  background-image: url(./images/mobile/image-pocket-borealis.jpg);
}

.article2__part:nth-of-type(7) {
  background-image: url(./images/mobile/image-curiosity.jpg);
}

.article2__part:nth-of-type(8) {
  background-image: url(./images/mobile/image-fisheye.jpg);
}

.article2__btn {
  grid-row-start: 10;
  justify-self: center;
  align-self: center;
  padding: 1rem 3rem;
  background: none;
  border: 0.1rem solid black;
  font-family: "Alata";
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.6rem;
}

/* _________FOOTER___________ */

footer {
  background-color: black;
  text-align: center;
  padding: 3rem 0;
}

.footer__logo {
  width: 15rem;
  margin-bottom: 3rem;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.footer__link {
  margin-bottom: 2rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}

.footer__socials {
  margin-bottom: 2rem;
}

.footer__icon {
  padding: 1rem;
  cursor: pointer;
}

.footer__copyright {
  color: hsl(0, 0%, 55%);
}

/* _______BREAK POINT 400px______________ */

@media screen and (min-width: 400px) {
  body {
    background-image: url(./images/desktop/image-hero.jpg);
    /* background-size: auto 50rem; */
  }
}

/* _______BREAK POINT 700px______________ */

@media screen and (min-width: 700px) {
  /* _______HEADER________ */
  .header__burger {
    display: none;
  }

  .header__links {
    display: flex;
  }

  .header__link {
    text-decoration: none;
    color: white;
    padding-left: 2rem;
    font-size: 1.3rem;
  }

  /* ________MAIN_________ */
  main {
    padding-top: 4rem;
    text-align: left;
  }

  .article1__img {
    display: none;
  }

  .article1 {
    background: url(./images/desktop/image-interactive.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 60%;
    height: 50rem;
    position: relative;
  }

  .article1__copy {
    background-color: rgb(255, 255, 255);
    max-width: 60%;
    padding: 8rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  /* __________GRID_____________ */
  .article2 {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr;
  }

  .article2__mainTitle {
    grid-column: span 2;
  }

  .article2__btn {
    grid-row-start: 6;
    grid-column: span 2;
  }
}

@media screen and (min-width: 900px) {
  .article2 {
    display: grid;
    grid-template-rows:7rem 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .article2__mainTitle {
    justify-self: flex-start;
  }

  .article2__btn {
    grid-row-start:auto;
    justify-self: flex-end;
  }

  .article2__part {
    padding-top: 30rem;
  }

  .article2__part:nth-of-type(1) {
    background-image: url(./images/desktop/image-deep-earth.jpg);
  }

  .article2__part:nth-of-type(2) {
    background-image: url(./images/desktop/image-night-arcade.jpg);
  }

  .article2__part:nth-of-type(3) {
    background-image: url(./images/desktop/image-soccer-team.jpg);
  }

  .article2__part:nth-of-type(4) {
    background-image: url(./images/desktop/image-grid.jpg);
  }

  .article2__part:nth-of-type(5) {
    background-image: url(./images/desktop/image-from-above.jpg);
  }

  .article2__part:nth-of-type(6) {
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
  }

  .article2__part:nth-of-type(7) {
    background-image: url(./images/desktop/image-curiosity.jpg);
  }

  .article2__part:nth-of-type(8) {
    background-image: url(./images/desktop/image-fisheye.jpg);
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 4rem;
  }

  .footer__nav {
    flex-direction: row;
    grid-row-start: 2;
  }

  .footer__link {
    padding-right: 2rem;
  }

  .footer__socials, .footer__copyright {
    justify-self: flex-end;
  }
}
